<!DOCTYPE html>
<html>
<head>
  <title>Dashboard &raquo; Main Sensors</title>
  <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
</head>
<body class="application">


  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Readings per Hour
          </div>
          <div class="chart-stage" id="chart-metric1">
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            (60 minute rolling average)
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">
            (drag area to zoom-in, right-click to reset)
          </div>
          <div class="chart-stage" id="chart-line1">
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            Auto-refreshes every 30 seconds.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Current Temperature
          </div>
          <div class="chart-stage" id="chart-metric2">
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            (2 minute rolling average)
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">
            (drag area to zoom-in, right-click to reset)
          </div>
          <div class="chart-stage" id="chart-line2">
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            Auto-refreshes every 30 seconds.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Current Temperature
          </div>
          <div class="chart-stage" id="chart-metric3">
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            (2 minute rolling average)
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">
            (drag area to zoom-in, right-click to reset)
          </div>
          <div class="chart-stage" id="chart-line3">
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            Auto-refreshes every 30 seconds.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            keen IO Stats
          </div>
          <div class="chart-stage" id="chart-metric4">
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            Total Data Events for Month
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">
            <button type="button" class="btn btn-primary">Publish</button>
          	<button type="button" class="btn btn-default">Get Sensors</button>
          </div>
          <div class="chart-stage" id="control-panel">
          	<p id="sendStatus">Status: connecting...</p>
          	<p id="recStatus">Status: connecting...</p>
          	<div id="reading-block">
          		<h3>PubNub Live Stream, °C:</h3>
          		<p id="reading"></p>
          	</div>
              <!-- <img data-src="holder.js/100%x120/white"> -->
          </div>
          <div class="chart-notes">
            <p id="sensorList">Available Sensors:</p>
          </div>
        </div>
      </div>
    </div>


    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

  <script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script src="https://cdn.pubnub.com/pubnub-3.7.18.min.js"></script>
	<script src="https://d26b395fwzu5fz.cloudfront.net/3.3.0/keen.min.js"></script>
  <script src="../../assets/js/meta.js"></script>
  <script src="app.js"></script>

	<!-- <script>
		var client = new Keen({
			projectId: "5645a4f790e4bd5b6a0739c2",
			readKey: "fa42307083bff8e6b5e8334e71e9d0bb151c09e383841db6814fc049dad78419074ad655dcc9174137d40243d3a113b5336b4a2fd534a6d5c89b616d61f1330da30c9a950be9fa4c7bdeddcdfd61d1283a4f5235abc86df8c966389bcd97910d5b16a1293032850c876db1c54ee3c3d6"

		});
		Keen.ready(function(){
	</script> -->

</body>
</html>
